
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-grey">
    <a class="navbar-brand" href="{% url 'index' %}" >BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'article:articles' %}">Tablolar <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'note:notes' %}">Notlar <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class = "navbar-nav ml-auto">

      {% if request.user.is_authenticated %}

      <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:dashboard' %}">Kontrol Paneli <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:logout' %}">Çıkış Yap <span class="sr-only">(current)</span></a>
        </li>





      {% else %}
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:login' %}">Giriş Yap <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:register' %}">Kayıt Ol <span class="sr-only">(current)</span></a>
        </li>
      {% endif %}


      </ul>


    </div>
  </nav>