{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<br>
<div class="row">
  <div class="col-md-6 offset-md-3"><form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{form|crispy}}
    <br>
    <button type ="submit" class ="btn btn-success">Tablo Ekle</button>

</form></div>
</div>
<style>
  body{
    background-color: #efefef;
    background-image : url(/media/Light-Grey-Background-Hd-5-1.jpg);
    background-repeat : no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment:fixed;
    background-position:center center;
  }
</style>


{% endblock  %}

{% block bg %}


{% endblock bg %}