{% extends "layout.html" %}


{% block body %}
<style>
  body{

    background-color: #efefef;
    background-image : url(/media/Light-Grey-Background-Hd-5-1.jpg);
    background-repeat : no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment:fixed;
    background-position:center center;
  }

  #len{
      position: relative;
      left : 5%;
      font-size:20px

  }
  #appear{
      display:none;

  }

  @media all and (max-width:480px){
      #len{
          display:none;
      }

      #appear{
          display:flex;
      }
  }


</style>


{% if articles %}

<h1 style="color: black;">Tablolar</h1>

        <hr>

        <div class = "row" >

            <div class="col-lg-8">
                <strong id="appear">{{articles_length}} Tablo Yayınlanmış</strong>
            <form>
                {% csrf_token %}
                <input type="text" name="keyword" class ="input-sm" placeholder="Ara">
                <button type="submit" class="btn btn-outline-primary">Ara</button>
                <strong id="len">{{articles_length}} Tablo Yayınlanmış</strong>

            </form>

            </div>


        </div>
        <hr>

{% for article in articles %}



<div class="container"  >

    <div class="row"  >

      <!-- Post Content Column -->
      <div class="col-lg-8" style="border-style: groove;">

        <!-- Title -->
        <a href="{% url 'article:detail' article.id %}"><h1 class="mt-4" style="color: black;">{{article.title}}</h1> </a>

        <!-- Author -->
        <p class="lead">
          Paylaşan :
          {{article.author}}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{article.created_date}}</p>

        <hr>

        <!-- Preview Image -->
        {% if article.article_image %}
                <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">


        {% endif %}

        <hr>

        <!-- Post Content -->
        <p class="lead">
        {{article.content | safe | truncatewords:10}}</p>
        <a style = "float:right" href="{% url 'article:detail' article.id %}" class = "btn btn-primary">Devamını Oku</a>
        <br>

        <hr>

      </div>



{% endfor %}


{% else %}
<div class = "alert alert-danger"> Makale Bulunamadı</div>

{% endif %}

{% endblock body %}

{% block bg %}


{% endblock bg %}
