{% extends "layout.html" %}
{% block body %}


<style>
  body{
    background-image: url(/media/back1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment:fixed;
    background-position:center center;
  }

</style>
<h1 style="color: white;">Kontrol Paneli</h1>
<hr>

<h4 style="color: white;">
Hoşgeldin  <small>{{request.user.username}}</small></h4>
<hr>

<a class = "btn btn-primary" style="margin-left: 15%"  href="{% url 'article:dashboard'%}">Tablolarım</a>
<a class = "btn btn-primary"  href="{% url 'note:dashboard'%}" style="left:60%;position:absolute">Notlarım</a>
<hr>


{% endblock  %}

{% block bg %}


{% endblock bg %}