{% extends "layout.html" %}
{% load static %}

{% block body %}

<style>
    body{
      background-image: url("/media/intel-amd.jpg");
      background-size: 1920px 1000px;
      background-repeat: no-repeat;
      
    }
  </style>

  <h5 style="position: fixed; color: white;left: 40%;">D G  K O </h5>


<audio style="position: fixed;left: 40%;top: 850px;" controls>
    <source src="/media/The Godfather Theme Song.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  
{% endblock body %}