{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<style>
  body{

    background-image: url(/media/login.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment:fixed;
    background-position:center center;
  }

</style>

<div class="row"  >
  <div class="col-md-6 offset-md-3" ><form method = "post" style="color:white;" >
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <button type ="submit" class ="btn btn-success">Giriş Yap</button>

</form></div>
</div>


{% endblock  %}

{% block bg %}


{% endblock bg %}