{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<style>
  body{
    background-color: #efefef;
  }
</style>

{% if note %}

<div class="row">
  <div class="col-md-6 offset-md-3"><form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{form|crispy}}
    <br>
    <button type ="submit" class ="btn btn-success">Not Güncelle</button>

</form></div>
</div>


{% else %}
<div class = "alert alert-danger">Kayboldun Galiba</div>
{% endif %}



  
{% endblock  %}

{% block bg %}

<div style="animation: transitionIn 1s;
position: absolute;
top: 0;
right: 0;
width: 2000px;
height: 80px;
background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.623), #efefef);"></div>
  
{% endblock  %}